<div class="restaurant-detail">
  <div class="restaurant-detail__restaurant">

  <%= image_tag 'restImg.jpeg', class: "restaurant-detail__item--picture"%>


    <h2 class="restaurant-detail__restaurant--title">店舗情報</h2>
    <p class="restaurant-detail__restaurant--name"><%= @restaurant.name %></p>
    <p class="restaurant-detail__restaurant--zip_code">〒<%= @restaurant.zip_code %></p>
    <p class="restaurant-detail__restaurant--address"><%= @restaurant.address %></p>

    <p class="restaurant-detail__restaurant__menu">
      <h4>メニュー一覧</h4>
        <ul class="restaurant-detail__restaurant__menu--names">
        <% @menus.each do |menu| %>
          <li class="restaurant-detail__restaurant__menu--name">
            <%= link_to menu.name, menu %>
          </li>
          <% end %>
        </ul>
    </p>
    <h4>地図</h4>

    <script type="text/javascript">
      function initMap() {
        var test ={lat: <%= @restaurant.latitude %>, lng: <%= @restaurant.longitude %>};
        var map = new google.maps.Map(document.getElementById('restaurant-detail__restaurant--map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);
        var contentString = '住所：<%= @restaurant.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });
        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });
        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCWW3k0JLaCcCbcQOTm7GLU6Dwezb6XccU&callback=initMap">
    </script>
    <br />
    <p id="restaurant-detail__restaurant--map"></div>
  </div>
</div>
